<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>lab10c</title>

  <style>

  </style>


</head>
<body>
  <section>
    <h1>My Experience with Angular!</h1>
  </section>

  <section>
    <h2>Installing & Building</h2>
    <p>Fortunately, building was quite simple and striaght forward.
      Following this <a href="https://www.geeksforgeeks.org/getting-started-with-angular/">geeksforgeeks</a> tutorial, I managed to create this simple webpage you are currently viewing!
      It was not that hard to follow since the commands the tutorial shows you does all the hard work for you, which is very convienient. <br> <br>
      For example:
    </p>
    <ul>
      <li><code>npm install -g &#64;angular/cli</code> ---- <strong>This installed angular</strong></li>
      <li><code>ng new my-angular-app</code> ---- <strong>This created a new folder for me with all the dependencies and npm packages to create my project</strong></li>
      <li><code>ng serve</code> ---- <strong>This built the webpage and started a develoment server</strong></li>
    </ul>
    <p>After I had done all the necessary setup, all that was left for me to do was to remove all the placeholders I didn't want to use, and finally get started with writing about my experience.</p>
  </section>

  <section>
    <h2>Difficulties & Solutions</h2>
    <p>Thankfully, due to the very minimal effort, and how very "hand-holding" the setup was, I didn't run into any major issues while installing and building.
      The only problem I managed to have was attempting to locate the placeholders and removing them.
      This was fixed by a quick 2 minute search through the sea of files that <code>ng new my-angular-app</code> had generated.
      You may have also noticed that the little icon that came with the placeholder is still there.
      I have not managed to find a solution to remove this problem, despite removing the associated code that would put it there in the first place.
      Considering that I have a double final for this course, and CPS510, I am deciding that I will not spend any more time that is necessary.
      Perhaps I will remove it at a later time, but for now, this will do.
    </p>
  </section>
</body>
</html>
<router-outlet />
